.question {
  margin: 30px;
  margin-top: 60px;
}
.question h2 {
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.option {
  background-color: beige;
  width: 700px;
  margin: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.option p {
  font-size: 20px;
}

#correct {
  background-color: rgb(93, 179, 93);
  display: flex;
  justify-content: space-between;
}
#wrong {
  background-color: rgb(235, 99, 99);
  display: flex;
  justify-content: space-between;
}

#pp {
  font-size: 18px;
  margin-right: 10px;
}
